# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [1]:
                                                                                                                                                                                                                                        minute=53
if minute%2==0:
    print("its a even minitue")
else:
    print("its a odd minitue")

its a odd minitue

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [2]:
day=input("enter the day:")
if day=="sunday":
    print("take rest")
elif day=="saturday":
    print("have a party")
else:
    print("work work work")

enter the day:monday
work work work

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
for number in range(2000,3200):
    if number%7==0 and number%5!=0:
        print(number,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
#CODE HERE

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [1]:
number=int(input("enter the number"))
fact=1
if number<=0:
    print("the number doesnt have any factorial")
elif number==0:
    print("the factorial will be one")
else:
    for i in range(1,number+1):
        fact=fact*i
print(fact)

enter the number8
40320


> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [4]:
n=int(input("enter the number="))
dic1={}
for i in range(1,n+1):
    dic1[i]=i*i
print(dic1)

enter the number=5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

> create user defined fuction for 
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [7]:
a=int(input("enter the number"))
b=input("enter the operator")
c=int(input("enter 2nd the number"))
if b=="+":
    print("addi {}+{}={}".format(a,c,a+c))
elif b=="-":
    print("sub {}-{}={}".format(a,c,(a-c)))
elif b=="*":
    print("mul {}*{}={}".format(a,c,(a*c)))
elif b=="/":
     print("div {}*{}={}".format(a,c,(a/c)))
elif b=="**":
    print("power {}**{}={}".format(a,c,(a**c)))

enter the number5
enter the operator**
enter 2nd the number2
power 5**2=25

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [ ]:
# CODE HERE
word = input("ENter the text: ")
digit=0
letter=0
for y in word:
    if y.isalpha():
        letter=letter+1
    elif y.isdigit():
        digit=digit+1
print(letter)
print(digit)

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [30]:
# METHOD - 1
t1=(1,2,3,4,5,6,7,8,9,10)
for ch in t1:
    if ch<=5:
        print(ch,end=" ")
print()
for ch1 in t1:
    if ch1>=6:
        print(ch1,end=" ")

1 2 3 4 5
6 7 8 9 10

In [9]:
# METHOD - 2
l1=(1,2,3,4,5,6,7,8,9,10)
for ch in l1:
    if ch<=5:
        t2=(l1[0:5])
for ch1 in l1:
    if ch1>=6:
        t3=(l1[5:11])
print(t2,t3)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [11]:
t2=(1,2,3,4,5,6,7,8,9,10)
print(t2[0:5])
print(t2[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [10]:
num=(1,2,3,4,5,6,7,8,9,10)
even=[]
for i in num:
    if i%2==0:
        even.append(i)
        
print("even values are",tuple(even))

even values are (2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [43]:
text=input("Please type something. --> ")
#for i in text:
if text=="yes"or text=="YES" or text=="Yes":
    print("yes")
else:
    print("No")

Please type something. --> ni
No

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [26]:
import random
random_of_5=[]
for i in range(0,5):
    x=random.randint(100,200)
    random_of_5.append(x)
print(random_of_5)

[180, 186, 100, 114, 186]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [15]:
import random
x =random.uniform(5,95)
print(x)

59.90787110533098

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [13]:
list1=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
list2=set(list1)
print(list2)

{1, 3, 4, 5, 6, 7, 8}

In [17]:
list1=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
s1=set(list1)
list2=list(s1)
list2
dict1=dict()
for i in list2:
    dict1.update({i:list1.count(i)})
print(dict1)

{1: 4, 3: 2, 4: 3, 5: 1, 6: 1, 7: 1, 8: 3}

In [27]:
list1=[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
unique=set(list1)
y=list(unique)
dict1=dict()
dict2=dict()
for i in y:
    dict1.update({i:list1.count(i)})
    z=dict1.values()
    k=max(z)
    dict2.update({1:k})
print(dict2)

{1: 4}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)